<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<title>Insert title here</title>
</head>
<body>
	<form>
		<input type="hidden" th:field="*{bno}"/> 
		<div class="form-group">
	    	<label for="btitle">제목</label>
	    	<input id="btitle" th:text="${board.btitle}" type="text" class="form-control" placeholder="제목을 입력하세요">
	    </div>
	    <div class="form-group">
	   		<label for="bwriter">작성자</label>
	    	<input id="bwriter" th:text="${board.bwriter}" type="text" class="form-control" placeholder="작성자를 입력하세요">
	  	</div>
	  	<div class="form-group">
	    	<label for="bcontent">내용</label>
	    	<textarea id="bcontent" th:text="${board.bcontent}" class="form-control" rows="3" placeholder="내용을 입력하세요"></textarea>
	  	</div>
	  	<div class="form-group">
	    	<label for="bdate">작성날짜</label>
	    	<textarea id="bcontent" th:text="${#dates.format(board.bdate, 'yyyy-MM-dd')}" class="form-control" rows="3" placeholder="내용을 입력하세요"></textarea>
	  	</div>
	  	<div class="form-group">
	  		<label for="bpassword">비밀번호</label>
	  		<input id="bpassword" th:field="*{bpassword}" type="password" class="form-control" placeholder="비밀번호를 입력하세요"
	  				th:classappend="${#fields.hasErrors('bpassword')} ? 'is-invalid'">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('bpassword')}" th:errors="*{bpassword}">
            	비밀번호 에러
            </div>		
	  	</div>
		
	  	<div>
			<span th:each="pageNum : ${pageList}" th:inline="text">
				<a th:href="@{'/?page='+${pageNum}}">[[${pagegNum]]</a>
			</span>	  	
	  	</div>
	  	<div class="form-group">
	  		<a class="btn btn-default" th:href="@{/list}" type="button">취소</a>
	  	</div>
	</form>
	<div>
		<a th:href="@{'/post/edit/' + ${board.bno}}">
			<button>수정</button>
		</a>
		<form id="delete-form" th:action="@{'/post/' + ${board.bno}}" method="post">
			<input type="hidden" name="_method" value="delete"/>
			<button id="delete_btn">삭제</button>
		</form>
	</div>
	
<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>		
</body>
</html>